@use "sass:color";

$main-fg: #cdd6f4;
$main-bg: #11111b;
$main-br: #cdd6f4;

$module-fg: #f5e0dc;

$accent: #9399b2;

// Shades of powerline darkness increments, 0 is darkest
$dark3: #313244;
$dark2: #1e1e2e;
$dark1: #181825;

$battery: $dark3;
$time: $dark2;

$cpuinfo: $dark1;
$memory: $dark2;
$cpu: $dark3;
$distro-fg: #000000;
$distro-bg: $accent;
$date: $dark2;
$tray: $dark1;
$pulseaudio: $dark1;
$backlight: $dark2;
$powermenu: $accent;
$workspaces: $dark1;


window.Bar {
    box-shadow: none;
    background-color: $main-bg;
    color: $main-fg;
    font-size: 1em;
    font-family: "JetBrains Mono", monospace;

    /* Powerline */
    .powerline {
        font-size: 12.5pt;
    }

    .powerline.right {
        text-shadow: 2px 0 2px rgba(0, 0, 0, 0.5);
        padding-right: 3px;
    }
    .powerline.left {
        text-shadow: -2px 0 2px rgba(0, 0, 0, 0.5);
    }

    .powerline.inverse {
        padding: 0;
        text-shadow: none;
    }

    /* All Widgets */
    .widget {
        opacity: 1;
        color: $module-fg;
        margin-bottom: 0;
        padding: 0 4px;
        text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    }

    /* Time */
    #Clock .widget {
        background-color: $time;
    }

    #Clock .powerline {
        color: $time;
    }

    /* Battery */
    #Battery .widget {
        background-color: $battery;
    }

    #Battery .powerline {
        color: $battery;
        background: $time;
    }

    /* Icon */
    #Icon .powerline {
        color: $battery;
    }

    #Icon .widget {
        font-size: 12.5pt;
    }
}
